@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 80vh;
    max-width: 100%;
    background-image:
        linear-gradient(rgba(0, 0, 0, .25),
            rgba(0, 0, 0, .25)),
        url("/img/home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    width: 270px;
}
nav {
    display: flex;
    gap: 50px;
}

nav a {
    position: relative;

    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;

    margin-bottom: 125px;
    padding-bottom: 5px;
}

/* Linha */
nav a::after{
    content:'';
    position:absolute;
    left:0;
    bottom:0;

    width:0;
    height:3px;

    background:red;

    transition:0.3s;
}

/* Hover */
nav a:hover::after{
    width:100%;
}

/* Página atual */
nav a.ativo{
    color:red;
}

nav a.ativo::after{
    width:100%;
}
.perfil {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    font-size: 28px;
    margin-bottom: 125px;
}

.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    padding-left: 80px;
    margin-top: -50px;
}

.conteudo {
    width: 500px;
}

.conteudo h1 {
    font-size: 42px;
    line-height: 1.1;
    font-weight: 800;
}

.conteudo span {
    color: red;
}

.linha {
    width: 430px;
    height: 4px;

    background: red;

    margin: 25px 0;
}

.conteudo p {
    font-size: 20px;
    line-height: 1.5;
}

.btn {
    margin-top: 50px;
    height: 50px;
    background: #e60000;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn i {
    font-size: 38px;
}

.btn:hover {
    background: #c70000;
}